@model HomeDto
@{
    ViewData["Title"] = "Home Page";
}

<!-- ##### BOX DELS PRODUCTES DE CATEGORIA O NO CATEGORIA ##### -->
<h2 class="title"><b>Ofertes de comersos</b></h2>
<div class="container-flex">

    @Html.PartialAsync("Header", Model.CategoryDto).Result
    <div id="box-general" class="box-shadow">
        <div class="data-row-items">
            @foreach (var item in Model.PostDto)
            {
                <div class="box-product-categoria">
                    <label>Title: @item.Title</label>
                    <div class="box-product-image">
                        <p>BOX.1</p>
                        Aquí anirà una imatge de la tenda o categoria.!
                    </div>
                    <div class="description-box">
                        <a><span>@item.Content</span></a>
                    </div>
                    <div>
                        <label>Category: @item.CategoryDto.Name</label>
                    </div>
                </div>
            }
        </div>


    </div>


</div>
