@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- ##### BOX DELS PRODUCTES DE CATEGORIA O NO CATEGORIA ##### -->

<div id="custom-container">
    <div id="box-general">
        <div class="data-row-items">
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.1</p>
                    Aquí anirà una imatge de la tenda o categoria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o categoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.2</p>
                    Aquí anirà una imatge de la tenda o categoria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o categoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.3</p>
                    Aquí anirà una imatge de la tenda o categoria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o categoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.4</p>
                    Aquí anirà una imatge de la tenda o categoria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.5</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.6</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.7</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.8</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.9</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.10</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
            <div class="box-product-categoria">
                <div class="box-product-image">
                    <p>BOX.11</p>
                    Aquí anirà una imatge de la tenda o categria.!
                </div>
                <div class="description-box">
                    <a style="color: green;"> Aquí va la descripció de la tenda o catefgoria.</a>
                </div>
            </div>
        </div>
    </div>


</div>
