@model HomeDto
@{
    ViewData["Title"] = "Home Page";
}

<!-- ##### BOX DELS PRODUCTES DE CATEGORIA O NO CATEGORIA ##### -->
<h2 class="title"><b>Ofertes de comersos</b></h2>
<div class="container-flex container-sm">

    @Html.PartialAsync("Header", Model.CategoryDto).Result
    <div id="box-general">
        <div class="data-row-items">
            @if (Model.PostDto.Count == 0)
            {
                <h4>No hi ha productes</h4>
            }
            else
            {
                @foreach (var item in Model.PostDto)
                {
                    <a asp-route-id="@item.Id" asp-action="GetPost" class="box-product-categoria box-shadow">
                        <span class="container-flex">@item.Title</span>
                        <div class="box-product-image container-flex">
                            <p class="container-flex">BOX.1</p>
                            <p class="container-flex">Aquí anirà una imatge de la tenda o categoria.!</p>
                        </div>
                        <div class="description-box">
                            <p>@item.Content</p>
                        </div>
                    </a>
                }
            }
        </div>


    </div>


</div>
