@model HomeDto
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="display-4">Ofertes</h2>
    <div>
        <a href="/bolsa">Bolsa de treball</a>
    </div>
</div>

<!-- ##### BOX DELS PRODUCTES DE CATEGORIA O NO CATEGORIA ##### -->

<div id="custom-container">

    @Html.PartialAsync("Header", Model.CategoryDto).Result
    <div id="box-general">
        <div class="data-row-items">
            @foreach (var item in Model.PostDto)
            {
                <div class="box-product-categoria">
                    <label>Title: @item.Title</label>
                    <div class="box-product-image">
                        <p>BOX.1</p>
                        Aquí anirà una imatge de la tenda o categoria.!
                    </div>
                    <div class="description-box">
                        <a style="color: green;"><span>@item.Content</span></a>
                    </div>
                    <div>
                        <label>Category: @item.CategoryDto.Name</label>
                    </div>
                </div>
            }
        </div>


    </div>


</div>
