<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/Home/index.css" />
    <link rel="stylesheet" href="~/css/Job/index.css" />
    <script src="~/js/Home/index.js"></script>

</head>

<body>
    <div class="container-flex" >

        <div class="container">
            <main role="main" class="pb-3">
                <div class="text-center">
                    <h2 class="display-4">Ofertes</h2>
                    <div id="menu-pages">
                        <a href="/ofertes">Ofertes de comersos</a>
                        <a href="/bolsa">Bolsa de treball</a>
                        <a href="/curriculum">Curriculum</a>
                        <a href="/admin">Administracio</a>
                    </div>
                </div>
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
