@model List<CategoryDto>
<header class="box-shadow" id="toggle-menu">
        <nav class="nav navbar w-100" id="toggle-menu-show">
            <h5 class="title w-100">Categories</h5>
            <div id="toggle-menu-list" class="w-100 text-center">
                <ul class="navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li class="">
                            <a class="nav-link text-dark" asp-route-category="@item.Name" asp-action="Index">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
</header>
