@model List<CategoryDto>
<header class="box-shadow">
    <nav class="nav navbar" >
        <div class="container container-flex-horizontal">
            <h5>Categories</h5>
            <div class="">
                <ul class="navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li class="">
                            <a class="nav-link text-dark" asp-route-category="@item.Name" asp-action="Index">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
