#job-container {
    display: flex;
}

#job-title {
    text-align: center;
}

#job-table {
    width: 100%;
}

    #job-table tbody tr:nth-child(even), #job-table thead {
        background-color: #f2f2f2;
        color: black;
    }

#job-table, th, td {
    border: 1px solid black;
}
