

#job-table {
    width: 100%;
}

    #job-table tbody tr:nth-child(even), #job-table thead {
        background-color: #dee2e6;
        color: black;
    }

#job-table, th, td {
    border: 1px solid black;
}

.no-job-content {
    text-align: center; 
}

.job-div-link {
    height: 100%;
    width: 100%;
}