@model JobDto
<h4>@Model.Title</h4>
    <div>
        <label>Descripcion:</label>
        <p>@Model.Description</p>
    </div>
    <div>
        <label>Empresa:</label>
        <p>@Model.Company</p>
    </div>
    <div>
        <label>Localizacion:</label>
        <p>@Model.Localization</p>
    </div>