@model JobDto
<div>
<h4>@Model.Title</h4>
    <div>
        <label>Descripcion:</label>
        <p>@Model.Description</p>
    </div>
    <div>
        <label>Empresa:</label>
        <p>@Model.Company</p>
    </div>
    <div>
        <label>Localizacion:</label>
        <p>@Model.Localization</p>
    </div>
</div>
@if (Context.User.Identity.IsAuthenticated)
{
    <div>
        <form>
            <input type="submit" value="Submit curriculum" />
        </form>
    </div>
}