<div class="container">
    <h1 id="job-title">Bolsa de treball</h1>
    <table id="job-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Lloc a cobrir</th>
                <th>Localització</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tr>
            <td>Data</td>
            <td>Lloc a cobrir</td>
            <td>Localitzacio</td>
            <td>Empresa</td>
        </tr>         
        <tr>
            <td>Data</td>
            <td>Lloc a cobrir</td>
            <td>Localitzacio</td>
            <td>Empresa</td>
        </tr>
    </table>
</div>