#toggle-menu {
    display: flex;
    justify-content: center;
}
    #toggle-menu h5 {
        padding: .5rem 1rem;
    }
nav {
    height:100%;
    align-items: start;
    padding: 0;
}

@media (max-width: 480px) {
    nav {
        cursor: pointer;
    }
}

header, nav {
    background: #dee2e6;
    height: auto;
}
