/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a .navbar-brand {
  white-space: normal;
  text-align: center;
  display: flex;
  font-size: 18px;
}
/* Provide sufficient contrast against white background */
a{
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: white;
    background: rgb(24, 26, 27);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Custom */
#custom-container {
    display: flex;
    background-color: blue;
}

/* llista esquerre vertical*/
.container-list-horizontal{
    display: flex;
    flex-direction:column!important;
  
}

.pb-3{
    background-color: red;
}

header {
    width: 15%;
    margin-top: 6px;
}

/* Caja general - dentro todas las cajas de las tiendas */
#box-general {
    display: flex;
}
.data-row-items {
    display: flex;
    background-color: green;
    width: 100%;
    margin: 6px;
    margin-left: 0;
    flex-wrap: wrap;
    flex-direction: row;
}
.box-product-categoria {
    font-size: 20px;
    border: 2px;
    border-style: solid;
    margin: 14px;
    height: 390px;
    background-color: black;
    width: 260px;
    display: flex;
    flex-direction: column;
}
.box-product-image {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description-box {
    display: flex;
    margin-top: 60%;
    background-color: yellow;
    width: 100%;
    height: 35%;
}


.nav {
    height: 100%;
    align-items: start;
}
